<META HTTP-EQUIV="Refresh" CONTENT="5; URL=@Url.Action("Login","Account")">
@*<META HTTP-EQUIV="Refresh" CONTENT="5;URL=@(Url.Action("LogOn1", "Account", Request.QueryString["nickname"].ToString()))">*@

@{
    ViewBag.Title = "Activation Account";
}

    <h2>Welcome</h2>

<p>
    Thank you for verifying your email address. You now have access to the site, please login poke around.
</p>
<p> Redirecting to the login page....</p>

