@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Please give us a call.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Team</h3>
    </header>
    <p>
        <span class="label">David Macedo:</span>
        <span>#24932</span>
    </p>
    <p>
        <span class="label">João Fernandes:</span>
        <span>#24621</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Developer:</span>
        <span><a href="mailto:24932@alunos.isel.pt">david.macedo@musicoutloud.com</a></span>
    </p>
    <p>
        <span class="label">Webdesigner and Developer:</span>
        <span><a href="mailto:24621@alunos.isel.pt">joao.fernandes@musicoutloud.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:jpaleta.isel@gmail.com">general@musicoutloud.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        MusicOutLoud<br />
        Lisboa, PT 1600-220
    </p>
</section>